# Secrets
Secrets.xcconfig

# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
*.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Realm
*.realm.lock
